<% include header %>
<div class="row">
  <div class="col-xs-12" style="text-align:center;">
  	<img src="../images/vimFikaLogoCircle.png" class="logoCircle"></img>
    <h3>Your email address <a href="mailto:<%-subscriber.email %>"><%-subscriber.email %></a> has been successfully confrimed at <%-title %>.</h3>
    <h2>Have fun discovering new and exciting features of Vim.</h2>
    <h2>The first tip is already on its way.</h2>
    <p><small>You can unsubscribe anytime with the following link: <a href="<%-subscriber.unsubscribeUrl %>"><%-subscriber.unsubscribeUrl %></a>.</small></p>
  </div>
</div>
<% include footer %>
